/* Dossier IHM/public/style/style.css */

/* Reset some default styles to ensure consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply a clearfix to the header and footer */
header::after,
footer::after {
    content: "";
    display: table;
    clear: both;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure at least viewport height */
}

/* Header styles */
header {
    background-color: #2b544c;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Navigation bar styles */
nav {
    background-color: #2b544c;
}

/* Navigation links styles */
nav ul {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    text-align: center; /* Center-align navigation links */
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

nav a:hover {
    background-color: #555; /* Change background color on hover */
}

/* Main content area */
.main-content {
    flex: 1; /* Grow to fill available space */
    padding: 20px;
    margin: 30px;
}

/* Footer styles */
footer {
    background-color: #2b544c;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto; /* Push the footer to the bottom */
}

/* Styles for the homepage image */
.homepage-image {
    max-width: 100%;
    height: auto;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 30px !important;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 30px !important;
}